.tope{
  width: 272px;
  height: 200px;
  background-color: #fff4e4;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  padding-top: 30px;
}
.ritt{
  display: inline-block;
}
.leff{
  padding: 10px;
  display: inline-block;
  width: 145px;
  height: 80px;
  margin-top: 10px;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  vertical-align: top;
}
.ritt img{
  position: relative;
  top: 8px;
  right: 20px;
}
.tope img{
  margin-left: 140px;
  position: relative;
  top: -40px;
}
.tope p:first-child{
  font-size: 24px;
  color: #ff5817;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
}
.tope p:nth-child(2){
  width: 160px;
  height: 36px;
  background-color:#ff5817 ;
  color: white;
  border-radius: 8px;
  line-height: 36px;
}
.bote{
  width: 272px;
  height: 125px;
  background: linear-gradient(270deg,#e7f5ff,#afdcff);
  border-radius: 8px;
  margin: 15px;
  overflow: hidden;
}
.theright{
  width: 300px;
  height: 370px;
  display: inline-block;
  vertical-align: top;
}
.swiper {
  width: 660px;
  height: 234px;
  overflow: hidden;
  position: relative;
} 
.lef{
  width: 150px;
  height: 100px;
  position: relative;
  top: -23px;
  left: 15px;
  display: inline-block;
}
.lef img{
  vertical-align: text-top;
}
.rig{
  display: inline-block;
}
.lef p:first-child{
  font-size: 22px;
  color: white;
}
.lef p:nth-child(2){
  font-size: 18px;
  color: white;
}
.lef p:last-child{
  width: 50px;
  line-height: 30px;
  text-align: center;
  background-color: white;
  color: pink;
  border-radius: 15px;
  margin-top: 10px;
}
.lefts{
  width: 310px;
  height: 125px;
  background: linear-gradient(270deg,#ffd1dd,#fca6c0);
  margin: 10px;
  margin-left: 0;
  border-radius: 18px;
  display: inline-block;
  position: relative;
}
.rights{
  width: 310px;
  height: 125px;
  background: linear-gradient(270deg,#fffffe,#fec07e);
  margin: 10px;
  margin-left: 15px;
  border-radius: 18px;
  display: inline-block;
}
#banner ul{
  list-style-type: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.middles{
  display: inline-block;
  width: 660px;
  height: 369px;
  vertical-align: text-bottom;
  
}
#banner{
  margin-bottom: 20px;
}
#banner ul li {
  cursor: pointer;
  margin: 0;
  width: 220px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background-color:		#FFF8DC;
  /* opacity: 0.2; */
}
#banner ul li span:last-child{
  color: gray;
  font-size: 14px;
}
#banner ul li span:last-child:hover{
  color: #ff5656;
  text-decoration: underline
}
img {
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f6f6f6;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#header .container {
  height: 161px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header .container .word h3 {
  font-size: 28px;
}

#header .container .word p {
  font-size: 12px;
  transform: scale(0.8);
  color: grey;
}

#header .container .middle {
  width: 532px;
  height: 48px;
  border-radius: 50px;
  border: black 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header .container .middle input {
  width: 320px;
  height: 42.4px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f6f6f6;
}

#header .container .middle button {
  width: 124px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFD800;
  border: none;
}

#header .container .right {
  display: flex;
  color: #877a73;
  font-size: 12px;
  width: 182px;
  justify-content: space-between;
}

#header .container .right span {
  text-align: center;
}

#header .container .right span p {
  line-height: 24px;
}

nav {
  min-width: 1200px;
  height: 46px;
  background-color: #43240c;
}

nav .container {
  height: 46px;
}

nav .container ul {
  padding: 0;
  background: #f6f6f6;
}

nav .container ul li {
  float: left;
  width: 220px;
  height: 46px;
  list-style: none;
  color: white;
  text-align: center;
  line-height: 46px;
  color: white;
  cursor: pointer;
}

nav .container ul li:hover {
  background-color: #fee44e;
  color: #43240c;
}

nav .container ul li:first-child {
  background-color: #fee44e;
}



hgroup {
  height: 56px;
  background-color: #f6f6f6;
}

hgroup .container {
  background-color: #fef9dd;
  height: 56px;
  font-size: 20px;
  font-weight: bolder;
  line-height: 56px;
  text-indent: 2em;
  color: white;
}

menu {
  min-width: 1200px;
  height: 56px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

menu .container {
  height: 56px;
  line-height: 56px;
  color: #43240c;
  background-color: #ffffff;
}

menu .container li {
  float: left;
  text-align: center;
  line-height: 56px;
  list-style: none;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0 0 0 16px;
  font-size: 18px;
  cursor: pointer;
}

menu .container li:hover {
  border-bottom: 3px solid grey;
}

section {
  background-color: #f6f6f6;
  overflow: hidden;
}

section figure {
  width: 276px;
  height: 400px;
  background-color: white;
  margin-right: 21px;
  float: left;
  margin-bottom: 20px;
}

section figure:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}

section p:nth-child(2) {
  font-size: 14px;
  line-height: 18px;
  color: #877a73;
  text-indent: 1em;
  line-height: 24px;
}

section p:nth-child(3) {
  height: 40px;
}

section p:nth-child(3) span:first-child {
  color: white;
  background-color: #ff4400;
  border-radius: 3px;
  margin-top: 16px;
  margin-left: 15px;
  display: inline-block;
  width: 40px;
  text-align: center;
}

section p:nth-child(3) span:last-child {
  color: grey;
  border-radius: 3px;
  float: right;
  margin-top: 16px;
  margin-right: 15px;
}

section p:nth-child(4) {
  height: 50px;
}

section p:nth-child(4) span:first-child {
  font-size: 12px;
  color: #ff4400;
  text-indent: 0em;
  margin-left: 15px;
  display: inline-block;
}

section p:nth-child(4) span:nth-child(2) {
  font-size: 28px;
  color: #ff4400;
  display: inline-block;
}

section p:nth-child(4) span:nth-child(3) {
  font-size: 12px;
  color: grey;
  display: inline-block;
}

section p:nth-child(4) span:nth-child(4) {
  font-size: 12px;
  color: #ff4400;
  display: inline-block;
  border: 1px solid #ff4400;
  display: inline-block;
  margin-left: 75px;
}

#getMore {
  height: 200px;
  text-align: center;
  overflow: hidden;
}

#getMore .box {
  width: 200px;
  height: 50px;
  background-color: #fee44e;
  margin: 80px auto;
  line-height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  min-width: 1200px;
  height: 200px;
  background-color: #484848;
  position: relative;
}

footer .top img {
  border-radius: 25px;
  display: inline-block;
  margin-top: 20px;
}

footer .top .middle {
  display: inline-block;
  margin-left: 15px;
}

footer .top .middle p:first-child {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

footer .top .middle p:nth-child(2) {
  color: white;
  font-size: 20px;
}

footer .top .middle p:nth-child(3) {
  color: white;
  font-size: 20px;
}

footer .top .right {
  display: inline-block;
  color: white;
  font-size: 20px;
  margin-left: 300px;
  position: relative;
  top: -40px;
  cursor: pointer;
}

footer .top .right:hover {
  color: pink;
}

footer h5 {
  position: absolute;
  bottom: 10px;
  left: 500px;
  color: white;
  font-size: 16px;
}

.bottom {
  min-width: 1200px;
  height: 70px;
  text-align: center;
}

aside {
  width: 100px;
  height: 50px;
  background-color: #FFD800;
  position: fixed;
  bottom: 20%;
  right: 30px;
  /* left:20px; */
  text-align: center;
  line-height: 50px;
  color: black;
  border-radius: 25px;
  cursor: pointer;
  display: none;
}

.main_nav {
  display: block;
  width: 60px;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  background-color: #fec07e;
  text-align: center;
  line-height: 44px;

}

li {
  list-style: none;
}

#globalNav {
  position: fixed;
  top: 150px;
  right: 30px;
}

#globalNav li a {
  text-decoration: none;
  color: #484848;
  font-weight: 400;

}

#t {
  border-radius: 10px;
  height: 34px;
  border: 2px dashed orange;
  padding: 6px;
  color: #ff4400 !important;
  /* background: #ff4400;; */
  line-height: 32px;
  text-align: center;
  margin-top: 50px;
  /* color: #877a73; */
  font-weight: 800;

}


