@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639999669214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neiyi:before {
  content: "\f0083";
}

.icon-shouji:before {
  content: "\3448";
}

.icon-muyingchanpin:before {
  content: "\3484";
}

.icon-tianmaochaoshilingshi:before {
  content: "\f0040";
}

.icon-meizhuang:before {
  content: "\e661";
}

.icon-nvzhuang:before {
  content: "\e60b";
}

.icon-fushi-nanxie:before {
  content: "\e60c";
}

.icon-shoutibao:before {
  content: "\e621";
}

.icon-jiaju:before {
  content: "\e60e";
}

